<?xml version="1.0"?>
<config>
    <modules>
        <Orba_Nokaut>
            <version>1.0.0</version>
        </Orba_Nokaut>
    </modules>
    <frontend>
        <routers>
            <nokaut>
                <use>standard</use>
                <args>
                    <module>Orba_Nokaut</module>
                    <frontName>nokaut</frontName>
                </args>
            </nokaut>
        </routers>
        <layout>
            <updates>
                <nokaut>
                    <file>nokaut.xml</file>
                </nokaut>
            </updates>
        </layout>
        <translate>
            <modules>
                <Orba_Nokaut>
                    <files>
                        <default>Orba_Nokaut.csv</default>
                    </files>
                </Orba_Nokaut>
            </modules>
        </translate>
    </frontend>  
    <global>
        <blocks>
            <nokaut>
                <class>Orba_Nokaut_Block</class>
            </nokaut>
        </blocks>
        <models>
            <nokaut>
                <class>Orba_Nokaut_Model</class>
                <resourceModel>nokaut_mysql4</resourceModel>
            </nokaut>
            <nokaut_mysql4>
                <class>Orba_Nokaut_Model_Mysql4</class>
                <entities>
                    <category>
                        <table>orba_nokaut_category</table>
                    </category>
                    <mapping>
                        <table>orba_nokaut_mapping</table>
                    </mapping>
                    <mapping_catalog_category>
                        <table>orba_nokaut_mapping_catalog_category</table>
                    </mapping_catalog_category>
                </entities>
            </nokaut_mysql4>
        </models>
        <resources>
            <nokaut_setup>
                <setup>
                    <module>Orba_Nokaut</module>
                    <class>Orba_Nokaut_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nokaut_setup>
            <nokaut_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nokaut_write>
            <nokaut_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nokaut_read>
        </resources>
        <helpers>
            <nokaut>
                <class>Orba_Nokaut_Helper</class>
            </nokaut>
        </helpers>
    </global>
    <default>
        <nokaut>
            <attr_core>
                <producer>manufacturer</producer>
            </attr_core>
        </nokaut>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Orba_Nokaut>
                    <files>
                        <default>Orba_Nokaut.csv</default>
                    </files>
                </Orba_Nokaut>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <nokaut>
                                            <title>ORBA | Nokaut</title>
                                        </nokaut>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <nokaut>
                    <file>nokaut.xml</file>
                </nokaut>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <nokaut before="Mage_Adminhtml">Orba_Nokaut_Adminhtml</nokaut>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
